# ======================
# Common build outputs
# ======================
*.d
*.o
*.obj
*.elf
*.map
*.hex
*.bin
*.out

# Debug / symbols
*.su
*.idb
*.pdb
*.dSYM/

# Libraries
*.a
*.la
*.lo
*.dll
*.so
*.dylib

# ======================
# Keil MDK / C251 outputs
# ======================
Objects/
Listings/
DebugConfig/

*.uvguix.*
*.uvgui.*
*.uvoptx
*.uvopt
*.uvprojx
*.uvproj
*.uvwsprj

# C51 / C251 compiler outputs
*.lst
*.m51
*.omf
*.abs
*.sym
*.plg
*.cod

# temporary files
*.crf
*.bak
*.tmp
*.lnp
*.dep
project/mdk/Listings/rt1064.map
project/mdk/Objects/board.d
project/mdk/Objects/board.o
project/mdk/Objects/clock_config.d
project/mdk/Objects/clock_config.o
project/mdk/Objects/diskio.d
project/mdk/Objects/diskio.o
project/mdk/Objects/evkmimxrt1064_flexspi_nor_config.d
project/mdk/Objects/evkmimxrt1064_flexspi_nor_config.o
project/mdk/Objects/evkmimxrt1064_sdram_ini_dcd.d
project/mdk/Objects/evkmimxrt1064_sdram_ini_dcd.o
project/mdk/Objects/ff.d
project/mdk/Objects/ff.o
project/mdk/Objects/ffsystem.d
project/mdk/Objects/ffsystem.o
project/mdk/Objects/ffunicode.d
project/mdk/Objects/ffunicode.o
project/mdk/Objects/fsl_adapter_lpuart.d
project/mdk/Objects/fsl_adapter_lpuart.o
project/mdk/Objects/fsl_adc.d
project/mdk/Objects/fsl_adc.o
project/mdk/Objects/fsl_adc_etc.d
project/mdk/Objects/fsl_adc_etc.o
project/mdk/Objects/fsl_aipstz.d
project/mdk/Objects/fsl_aipstz.o
project/mdk/Objects/fsl_aoi.d
project/mdk/Objects/fsl_aoi.o
project/mdk/Objects/fsl_assert.d
project/mdk/Objects/fsl_assert.o
project/mdk/Objects/fsl_bee.d
project/mdk/Objects/fsl_bee.o
project/mdk/Objects/fsl_cache.d
project/mdk/Objects/fsl_cache.o
project/mdk/Objects/fsl_clock.d
project/mdk/Objects/fsl_clock.o
project/mdk/Objects/fsl_cmp.d
project/mdk/Objects/fsl_cmp.o
project/mdk/Objects/fsl_common.d
project/mdk/Objects/fsl_common.o
project/mdk/Objects/fsl_common_arm.d
project/mdk/Objects/fsl_common_arm.o
project/mdk/Objects/fsl_component_generic_list.d
project/mdk/Objects/fsl_component_generic_list.o
project/mdk/Objects/fsl_csi.d
project/mdk/Objects/fsl_csi.o
project/mdk/Objects/fsl_dcdc.d
project/mdk/Objects/fsl_dcdc.o
project/mdk/Objects/fsl_dcp.d
project/mdk/Objects/fsl_dcp.o
project/mdk/Objects/fsl_debug_console.d
project/mdk/Objects/fsl_debug_console.o
project/mdk/Objects/fsl_dmamux.d
project/mdk/Objects/fsl_dmamux.o
project/mdk/Objects/fsl_edma.d
project/mdk/Objects/fsl_edma.o
project/mdk/Objects/fsl_elcdif.d
project/mdk/Objects/fsl_elcdif.o
project/mdk/Objects/fsl_enc.d
project/mdk/Objects/fsl_enc.o
project/mdk/Objects/fsl_enet.d
project/mdk/Objects/fsl_enet.o
project/mdk/Objects/fsl_ewm.d
project/mdk/Objects/fsl_ewm.o
project/mdk/Objects/fsl_flexcan.d
project/mdk/Objects/fsl_flexcan.o
project/mdk/Objects/fsl_flexcan_edma.d
project/mdk/Objects/fsl_flexcan_edma.o
project/mdk/Objects/fsl_flexio.d
project/mdk/Objects/fsl_flexio.o
project/mdk/Objects/fsl_flexio_camera.d
project/mdk/Objects/fsl_flexio_camera.o
project/mdk/Objects/fsl_flexio_camera_edma.d
project/mdk/Objects/fsl_flexio_camera_edma.o
project/mdk/Objects/fsl_flexio_i2c_master.d
project/mdk/Objects/fsl_flexio_i2c_master.o
project/mdk/Objects/fsl_flexio_i2s.d
project/mdk/Objects/fsl_flexio_i2s.o
project/mdk/Objects/fsl_flexio_i2s_edma.d
project/mdk/Objects/fsl_flexio_i2s_edma.o
project/mdk/Objects/fsl_flexio_mculcd.d
project/mdk/Objects/fsl_flexio_mculcd.o
project/mdk/Objects/fsl_flexio_mculcd_edma.d
project/mdk/Objects/fsl_flexio_mculcd_edma.o
project/mdk/Objects/fsl_flexio_spi.d
project/mdk/Objects/fsl_flexio_spi.o
project/mdk/Objects/fsl_flexio_spi_edma.d
project/mdk/Objects/fsl_flexio_spi_edma.o
project/mdk/Objects/fsl_flexio_uart.d
project/mdk/Objects/fsl_flexio_uart.o
project/mdk/Objects/fsl_flexio_uart_edma.d
project/mdk/Objects/fsl_flexio_uart_edma.o
project/mdk/Objects/fsl_flexram.d
project/mdk/Objects/fsl_flexram.o
project/mdk/Objects/fsl_flexram_allocate.d
project/mdk/Objects/fsl_flexram_allocate.o
project/mdk/Objects/fsl_flexspi.d
project/mdk/Objects/fsl_flexspi.o
project/mdk/Objects/fsl_flexspi_nor_boot.d
project/mdk/Objects/fsl_flexspi_nor_boot.o
project/mdk/Objects/fsl_gpc.d
project/mdk/Objects/fsl_gpc.o
project/mdk/Objects/fsl_gpio.d
project/mdk/Objects/fsl_gpio.o
project/mdk/Objects/fsl_gpt.d
project/mdk/Objects/fsl_gpt.o
project/mdk/Objects/fsl_kpp.d
project/mdk/Objects/fsl_kpp.o
project/mdk/Objects/fsl_lpi2c.d
project/mdk/Objects/fsl_lpi2c.o
project/mdk/Objects/fsl_lpi2c_edma.d
project/mdk/Objects/fsl_lpi2c_edma.o
project/mdk/Objects/fsl_lpspi.d
project/mdk/Objects/fsl_lpspi.o
project/mdk/Objects/fsl_lpspi_edma.d
project/mdk/Objects/fsl_lpspi_edma.o
project/mdk/Objects/fsl_lpuart.d
project/mdk/Objects/fsl_lpuart.o
project/mdk/Objects/fsl_lpuart_edma.d
project/mdk/Objects/fsl_lpuart_edma.o
project/mdk/Objects/fsl_ocotp.d
project/mdk/Objects/fsl_ocotp.o
project/mdk/Objects/fsl_os_abstraction_bm.d
project/mdk/Objects/fsl_os_abstraction_bm.o
project/mdk/Objects/fsl_pit.d
project/mdk/Objects/fsl_pit.o
project/mdk/Objects/fsl_pmu.d
project/mdk/Objects/fsl_pmu.o
project/mdk/Objects/fsl_pwm.d
project/mdk/Objects/fsl_pwm.o
project/mdk/Objects/fsl_pxp.d
project/mdk/Objects/fsl_pxp.o
project/mdk/Objects/fsl_qtmr.d
project/mdk/Objects/fsl_qtmr.o
project/mdk/Objects/fsl_rtwdog.d
project/mdk/Objects/fsl_rtwdog.o
project/mdk/Objects/fsl_sai.d
project/mdk/Objects/fsl_sai.o
project/mdk/Objects/fsl_sai_edma.d
project/mdk/Objects/fsl_sai_edma.o
project/mdk/Objects/fsl_sd.d
project/mdk/Objects/fsl_sd.o
project/mdk/Objects/fsl_sd_disk.d
project/mdk/Objects/fsl_sd_disk.o
project/mdk/Objects/fsl_sdmmc_common.d
project/mdk/Objects/fsl_sdmmc_common.o
project/mdk/Objects/fsl_sdmmc_host.d
project/mdk/Objects/fsl_sdmmc_host.o
project/mdk/Objects/fsl_sdmmc_osa.d
project/mdk/Objects/fsl_sdmmc_osa.o
project/mdk/Objects/fsl_semc.d
project/mdk/Objects/fsl_semc.o
project/mdk/Objects/fsl_snvs_hp.d
project/mdk/Objects/fsl_snvs_hp.o
project/mdk/Objects/fsl_snvs_lp.d
project/mdk/Objects/fsl_snvs_lp.o
project/mdk/Objects/fsl_spdif.d
project/mdk/Objects/fsl_spdif.o
project/mdk/Objects/fsl_spdif_edma.d
project/mdk/Objects/fsl_spdif_edma.o
project/mdk/Objects/fsl_src.d
project/mdk/Objects/fsl_src.o
project/mdk/Objects/fsl_tempmon.d
project/mdk/Objects/fsl_tempmon.o
project/mdk/Objects/fsl_trng.d
project/mdk/Objects/fsl_trng.o
project/mdk/Objects/fsl_tsc.d
project/mdk/Objects/fsl_tsc.o
project/mdk/Objects/fsl_usdhc.d
project/mdk/Objects/fsl_usdhc.o
project/mdk/Objects/fsl_wdog.d
project/mdk/Objects/fsl_wdog.o
project/mdk/Objects/fsl_xbara.d
project/mdk/Objects/fsl_xbara.o
project/mdk/Objects/fsl_xbarb.d
project/mdk/Objects/fsl_xbarb.o
project/mdk/Objects/isr.d
project/mdk/Objects/isr.o
project/mdk/Objects/main.d
project/mdk/Objects/main.o
project/mdk/Objects/menu.d
project/mdk/Objects/menu.o
project/mdk/Objects/pit.d
project/mdk/Objects/pit.o
project/mdk/Objects/rt1064.axf
project/mdk/Objects/rt1064.build_log.htm
project/mdk/Objects/rt1064.htm
project/mdk/Objects/rt1064.lnp
project/mdk/Objects/rt1064_nor_sdram_zf_dtcm.dep
project/mdk/Objects/sdmmc_config.d
project/mdk/Objects/sdmmc_config.o
project/mdk/Objects/seekfree_assistant.d
project/mdk/Objects/seekfree_assistant.o
project/mdk/Objects/seekfree_assistant_interface.d
project/mdk/Objects/seekfree_assistant_interface.o
project/mdk/Objects/sensor.d
project/mdk/Objects/sensor.o
project/mdk/Objects/startup_mimxrt1064.d
project/mdk/Objects/startup_mimxrt1064.o
project/mdk/Objects/system_mimxrt1064.d
project/mdk/Objects/system_mimxrt1064.o
project/mdk/Objects/usb_device_cdc_acm.d
project/mdk/Objects/usb_device_cdc_acm.o
project/mdk/Objects/usb_device_ch9.d
project/mdk/Objects/usb_device_ch9.o
project/mdk/Objects/usb_device_class.d
project/mdk/Objects/usb_device_class.o
project/mdk/Objects/usb_device_dci.d
project/mdk/Objects/usb_device_dci.o
project/mdk/Objects/usb_device_descriptor.d
project/mdk/Objects/usb_device_descriptor.o
project/mdk/Objects/usb_device_ehci.d
project/mdk/Objects/usb_device_ehci.o
project/mdk/Objects/usb_phy.d
project/mdk/Objects/usb_phy.o
project/mdk/Objects/zf_common_clock.d
project/mdk/Objects/zf_common_clock.o
project/mdk/Objects/zf_common_debug.d
project/mdk/Objects/zf_common_debug.o
project/mdk/Objects/zf_common_fifo.d
project/mdk/Objects/zf_common_fifo.o
project/mdk/Objects/zf_common_font.d
project/mdk/Objects/zf_common_font.o
project/mdk/Objects/zf_common_function.d
project/mdk/Objects/zf_common_function.o
project/mdk/Objects/zf_common_interrupt.d
project/mdk/Objects/zf_common_interrupt.o
project/mdk/Objects/zf_common_vector.d
project/mdk/Objects/zf_common_vector.o
project/mdk/Objects/zf_device_absolute_encoder.d
project/mdk/Objects/zf_device_absolute_encoder.o
project/mdk/Objects/zf_device_ble6a20.d
project/mdk/Objects/zf_device_ble6a20.o
project/mdk/Objects/zf_device_bluetooth_ch9141.d
project/mdk/Objects/zf_device_bluetooth_ch9141.o
project/mdk/Objects/zf_device_camera.d
project/mdk/Objects/zf_device_camera.o
project/mdk/Objects/zf_device_dl1a.d
project/mdk/Objects/zf_device_dl1a.o
project/mdk/Objects/zf_device_dl1b.d
project/mdk/Objects/zf_device_dl1b.o
project/mdk/Objects/zf_device_gnss.d
project/mdk/Objects/zf_device_gnss.o
project/mdk/Objects/zf_device_icm20602.d
project/mdk/Objects/zf_device_icm20602.o
project/mdk/Objects/zf_device_imu660ra.d
project/mdk/Objects/zf_device_imu660ra.o
project/mdk/Objects/zf_device_imu660rb.d
project/mdk/Objects/zf_device_imu660rb.o
project/mdk/Objects/zf_device_imu963ra.d
project/mdk/Objects/zf_device_imu963ra.o
project/mdk/Objects/zf_device_ips114.d
project/mdk/Objects/zf_device_ips114.o
project/mdk/Objects/zf_device_ips200.d
project/mdk/Objects/zf_device_ips200.o
project/mdk/Objects/zf_device_ips200pro.d
project/mdk/Objects/zf_device_ips200pro.o
project/mdk/Objects/zf_device_key.d
project/mdk/Objects/zf_device_key.o
project/mdk/Objects/zf_device_mpu6050.d
project/mdk/Objects/zf_device_mpu6050.o
project/mdk/Objects/zf_device_mt9v03x.d
project/mdk/Objects/zf_device_mt9v03x.o
project/mdk/Objects/zf_device_mt9v03x_flexio.d
project/mdk/Objects/zf_device_mt9v03x_flexio.o
project/mdk/Objects/zf_device_oled.d
project/mdk/Objects/zf_device_oled.o
project/mdk/Objects/zf_device_ov7725.d
project/mdk/Objects/zf_device_ov7725.o
project/mdk/Objects/zf_device_scc8660.d
project/mdk/Objects/zf_device_scc8660.o
project/mdk/Objects/zf_device_scc8660_flexio.d
project/mdk/Objects/zf_device_scc8660_flexio.o
project/mdk/Objects/zf_device_tft180.d
project/mdk/Objects/zf_device_tft180.o
project/mdk/Objects/zf_device_tsl1401.d
project/mdk/Objects/zf_device_tsl1401.o
project/mdk/Objects/zf_device_type.d
project/mdk/Objects/zf_device_type.o
project/mdk/Objects/zf_device_virtual_oscilloscope.d
project/mdk/Objects/zf_device_virtual_oscilloscope.o
project/mdk/Objects/zf_device_wifi_spi.d
project/mdk/Objects/zf_device_wifi_spi.o
project/mdk/Objects/zf_device_wifi_uart.d
project/mdk/Objects/zf_device_wifi_uart.o
project/mdk/Objects/zf_device_wireless_uart.d
project/mdk/Objects/zf_device_wireless_uart.o
project/mdk/Objects/zf_driver_adc.d
project/mdk/Objects/zf_driver_adc.o
project/mdk/Objects/zf_driver_csi.d
project/mdk/Objects/zf_driver_csi.o
project/mdk/Objects/zf_driver_delay.d
project/mdk/Objects/zf_driver_delay.o
project/mdk/Objects/zf_driver_encoder.d
project/mdk/Objects/zf_driver_encoder.o
project/mdk/Objects/zf_driver_exti.d
project/mdk/Objects/zf_driver_exti.o
project/mdk/Objects/zf_driver_flash.d
project/mdk/Objects/zf_driver_flash.o
project/mdk/Objects/zf_driver_flexio_csi.d
project/mdk/Objects/zf_driver_flexio_csi.o
project/mdk/Objects/zf_driver_gpio.d
project/mdk/Objects/zf_driver_gpio.o
project/mdk/Objects/zf_driver_iic.d
project/mdk/Objects/zf_driver_iic.o
project/mdk/Objects/zf_driver_pit.d
project/mdk/Objects/zf_driver_pit.o
project/mdk/Objects/zf_driver_pwm.d
project/mdk/Objects/zf_driver_pwm.o
project/mdk/Objects/zf_driver_romapi.d
project/mdk/Objects/zf_driver_romapi.o
project/mdk/Objects/zf_driver_sdio.d
project/mdk/Objects/zf_driver_sdio.o
project/mdk/Objects/zf_driver_soft_iic.d
project/mdk/Objects/zf_driver_soft_iic.o
project/mdk/Objects/zf_driver_soft_spi.d
project/mdk/Objects/zf_driver_soft_spi.o
project/mdk/Objects/zf_driver_spi.d
project/mdk/Objects/zf_driver_spi.o
project/mdk/Objects/zf_driver_timer.d
project/mdk/Objects/zf_driver_timer.o
project/mdk/Objects/zf_driver_uart.d
project/mdk/Objects/zf_driver_uart.o
project/mdk/Objects/zf_driver_usb_cdc.d
project/mdk/Objects/zf_driver_usb_cdc.o
project/mdk/rt1064.uvguix.ZHOU
project/RT1064智能车推荐引脚分配.txt
project/RT1064核心板丝印与芯片引脚对应表格.xlsx
